

/* style resets*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;

}

ul{
  list-style: none;
}

/*base styling*/

body{
  background-color: #e8f0f7;
  font-family: 'Inter', sans-serif;
  height: 500px;
  padding-top: 90px;
}

/*styles*/
.header{
  position: fixed;
  top: 0;
  width: 100%;
}

.top-bar{
  background-color: rgb(39,44,51);
}

.top-bar_content{
  height: 30px;
  color: white;
  font-size: 12px;

}

.icon{

}

.bottom-bar{
   background-color: rgb(19,22,26);
}

.bottom-bar_content{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;

}

.logo{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.logo_img{
  height: 30px;
}

.logo_text{
  color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.nav{

}

.nav_list{
  display: flex;
  column-gap: 40px;
}

.nav_item{

}

.nav_link{
  color: rgba(225,255,255,0.75);
  transition: all 0.2s;
}

.nav_link:hover, .navlink:focus{
  color: pink;
}

.btn{
  color: white;
  background-color: #0071e3;
  padding: 8px 20px;
  border-radius: 1000px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;

}

.btn:hover{
  background-color: pink;
}

.hamburger{
 display: none;
}

.bar{

}